<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<script async src="https://cse.google.com/cse.js?cx=fd371e7777e181c07"></script>
                        <div class="gcse-search"></div>
			<footer>
	    		<ul>
	        		
				</ul>
			</footer>
		</body>
	</html>
